html {
    background-color: #90a955;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Game title*/
h1 , p {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    padding-bottom: 10px;
}

/*Player and game items*/
.player {
    position: relative;
    width: 50px;
    height: 50px;
    transform: translate(20em , 9em);
}

.coins {
    width: 30px;
    height: 30px;
    position: relative;
    transform: translate(70em , 20em);
}

.player , .coins {
    transform: rotateY('180deg') rotateZ('50deg') ;
}